


body {
    background-color: #4527a0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


.about {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 30px;
    color: #c5cae9;
}

.services {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 30px;
    color: #c5cae9;
}

.contact {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 30px;
    color:#c5cae9;
}
    h1 {
    font-family: 'Poiret One', cursive;
    font-size: 72px;
    color:#4527a0;
}


hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color:#4527a0;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #4527a0;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

#cover { 
  margin-top: 10%;
  margin-left: 10%;
  width: 200px;
  height: 205px;
  border-radius: 60%;
  rotate: 180deg;
  object-fit: cover; 

}

#coverDiv{
    margin-top: 10%;
    margin-left: 10%;
    width: 200px;
    height: 205px;
    border-radius: 60%;
}


#cover { 
    margin-top: 5%;
    margin-left: -25%; 
    margin-bottom: 10%;   
    width: 200px;
    height: 205px;
    border-radius: 60%;
    rotate: 180deg;
    object-fit: cover; 

}

.sections {
    margin-top: auto;
    margin-left: 25%;
    margin-right: -27%;
}


   
nav {
    width: 60%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

#missionDiv {
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    box-shadow: 0 0 5px rgba(0,0,0,.05), 2px 2px 5px rgba(0,0,0,.1);
    border-radius: 4px;
    
}

#missionTitle {

    color: #4527a0;
    font-family: 'M PLUS 1p', sans-serif;
    text-align: center;
    padding-top: 40px;
    padding-left: 40px;
    
    
}

#missionContent {

    color: #4527a0;
    font-family: 'Maven Pro', sans-serif;
    font-size: 20px;
    text-align: left;
    padding: 25px 40px 40px 40px;

}

#servicesDiv {
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  box-shadow: 0 0 5px rgba(0,0,0,.05), 2px 2px 5px rgba(0,0,0,.1);
  border-radius: 4px;
  
}

#servicesTitle {

  color: #4527a0;
  font-family: 'M PLUS 1p', sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-left: 40px;
  
  
}

#servicesContent {

  color: #4527a0;
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 25px 40px 40px 40px;

}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.typewriter{

  display: inline-block;
  margin-top: 10%;
}

.typewriter-text {
  display: inline-block;
  font-family: 'Press Start 2P', cursive;
  color: #4527a0;
  font-size: 36px;
  font-weight:;
  margin-top: 10%;
  margin-left: 30%;
  text-align: center;

  overflow: hidden;
  animation: typing 5s steps(30, end), blink .75s step-end infinite;
  white-space: nowrap;
  border-right: 4px solid #4527a0;
  box-sizing: border-box;
}

@keyframes typing {
  from { 
      width: 0% 
  }
  to { 
      width: 100% 
  }
}

@keyframes blink {
  from, to { 
      border-color: transparent 
  }
  50% { 
      border-color: #4527a0; 
  }
}

#contactDiv {
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  box-shadow: 0 0 5px rgba(0,0,0,.05), 2px 2px 5px rgba(0,0,0,.1);
  border-radius: 4px;
  
}

#contactTitle {

  color: #4527a0;
  font-family: 'M PLUS 1p', sans-serif;
  text-align: center;
  padding-top: 40px;
  padding-left: 40px;
  
  
}

#contactContent {

  color: #4527a0;
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
  text-align: left;
  padding: 25px 40px 40px 40px;

}

label {
  color: #4527a0;
}


.page-footer {
  margin-top: 10%;
  margin-bottom: 0%;
    background-color: #4527a0;
    color: #c5cae9;
  
  }
  
