


body {
    background-color: #4527a0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


.about {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 30px;
    color: #c5cae9;
}

.services {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 30px;
    color: #c5cae9;
}

.contact {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 30px;
    color:#c5cae9;
}
    h1 {
    font-family: 'Poiret One', cursive;
    font-size: 72px;
    color:#4527a0;
}


hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color:#4527a0;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #4527a0;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

#speechBubble {
    margin-top: 15%;
    position: absolute;
    transform-origin: 0% 100%;
    text-align: center;
    background-color:#c5cae9;
    color: #4527a0;
    border-radius: 10px;
    border-color: #4527a0;
    border-width: 3px;
    width: 120px;
    padding: 10px;
    left: 110px;
    top: -75px;
    transform: scale(0);
    animation-fill-mode: forwards;
  }
  /* We need to add a tail to the speech bubble. This is done using
  the ::before pseudo-element. The tail's size is controlled by 
  its borders. The right and bottom borders are given a transparent
  color so that the tail still retains its shape while giving the
  desired look */
  #speechBubble::before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    bottom: -25px;
    left: 5px;
    border-style: solid;
    border-width: 15px;
    border-color: #5a5a5a transparent transparent #5a5a5a;
    transform: rotate(10deg);
  }
  
  /* Here the scale changes from 0 to 1. To add the bounciness 
  effect, the scale is set to 1.25 midway through the animation
  to give the animation a nicer effect. */

  @keyframes expand-bounce {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* Here the scale simply goes from 1 back to 0 */
  @keyframes shrink {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }


#coverDiv{
    margin-top: 10%;
    margin-left: 10%;
    width: 200px;
    height: 205px;
    border-radius: 60%;
}


#cover { 
    margin-top: 10%;
    margin-left: 10%;
    width: 200px;
    height: 205px;
    border-radius: 60%;
    rotate: 180deg;
    object-fit: cover; 

}

.sections {
    margin-top: auto;
    margin-left: 25%;
    margin-right: -27%;
}


   
nav {
    width: 60%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

#missionDiv {
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    box-shadow: 0 0 5px rgba(0,0,0,.05), 2px 2px 5px rgba(0,0,0,.1);
    border-radius: 4px;
    
}

#missionTitle {

    color: #4527a0;
    font-family: 'M PLUS 1p', sans-serif;
    text-align: center;
    padding-top: 40px;
    padding-left: 40px;
    
    
}

#missionContent {

    color: #4527a0;
    font-family: 'Maven Pro', sans-serif;
    font-size: 20px;
    text-align: left;
    padding: 25px 40px 40px 40px;

}

  
